<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body>
   <div class="container" ng-controller="NarrowItDownController as controller">
    <h1>Narrow Down Your Chinese Menu Choice</h1>
      <div class=row>
        <div class="form-group">
          <input type="text" placeholder="search term" class="form-control" ng-model="controller.searchTerm">
          <button class="btn btn-primary" ng-click="controller.search(controller.searchTerm)">Narrow It Down For Me!</button>
        </div>
      </div>
      <div class="row">
        <found-items found="controller.found" on-remove="controller.remove(index)"></found-items>
      </div>
    </div>


    <!-- found-items should be implemented as a component -->
    <!-- <found-items found-items="...." on-remove="...."></found-items> -->


</body>
</html>
